* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 248, 248);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

/* CONTAINER */
#container {
  max-width: 1200px;
  background-color: white;
  flex: 1;
  margin: 1rem;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  #container {
    flex: none;
    width: 60%;
    padding: 3rem;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  #container {
    width: 45%;
  }
}

@media screen and (min-width: 1280px) {
  #container {
    width: 45%;
    padding: 4rem;
  }
}

@media screen and (min-width: 1400px) {
  #container {
    width: 30%;
    padding: 4rem;
  }
}

/* BOGO TITLE */
.bogo-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  height: 3rem;
}

.bogo-wrapper > hr {
  border: 0.9px solid #c8c8c8;
  flex: 1;
}

.bogo-wrapper > span {
  color: #ff6b82;
  margin: 0 10px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .bogo-wrapper {
    height: 4rem;
  }
  .bogo-wrapper > span {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .bogo-wrapper {
    height: 3rem;
  }

  .bogo-wrapper > span {
    font-size: 26px;
  }
}

/* BOX CONTAINER */
#box-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 8px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  #box-container {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  #box-container {
    margin-top: 20px;
  }
}
.box-wrapper {
  border: 2px solid #c8c8c8;
  font-size: 18px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.box-wrapper:hover {
  border: 2px solid #ff6b82;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.box-header > :nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #888;
  cursor: pointer;
  outline: none;
}

input[type="radio"]:checked {
  background-color: #ff6b82;
  outline: 1px solid #ff6b82;
  border-color: #ffffff;
  outline-offset: 1px;
}

.box-header > :nth-child(1) > div > div {
  display: flex;
  column-gap: 6px;
}

.box-header > :nth-child(1) > div > span {
  font-size: 14px;
  letter-spacing: 1px;
}

/* discount container */
.box-header > :nth-child(1) > div > div > :nth-child(2) {
  background-color: #ff6b82;
  padding: 2px 6px;
  color: white;
  font-weight: 400;
  font-size: 12px;
  margin-left: 4px;
}

.box-header > :nth-child(2) > del {
  font-weight: 400;
  font-size: 12px;
  color: #c8c8c8;
}

.box-body {
  display: none;
  padding: 0.5rem 1rem;
}

table {
  margin-left: 10px;
  border-collapse: separate;
  border-spacing: 8px 8px;
  font-size: 14px;
}

tr > :nth-child(2),
tr > :nth-child(3) {
  width: 80px;
}

table > tbody > tr > td > select {
  outline: none;
  width: 100%;
  border-radius: px;
  height: 100%;
  padding: 4px 0;
  border-radius: 1.81px 0px 0px 0px;
  border: 0.9px solid #d9d9d9;
}

select {
  font-size: 14.5px;
}

#container > :nth-child(3) {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-weight: normal;
}

#container > :nth-child(3) > :nth-child(1) {
  color: #ff6b82;
}

button {
  background-color: #ff6b82;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

button > span {
  font-size: 22px;
  position: relative;
  top: 3px;
}

#container > :last-child {
  float: right;
  margin-top: 10px;
  font-style: italic;
  color: #00000066;
  font-size: 14px;
}
